<a href="https://colab.research.google.com/github/armandordorica/Portfolio_Optimization/blob/master/FixYahoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22409 sha256=68a91e04934910094aa2da7aaa6e1dd28be581e2c5e4b6a234fdd2077674afbb
  Stored in directory: /root/.cache/pip/wheels/f9/e3/5b/ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
Successfully built yfinance
Installing collected packages: yfinance
Successfully installed yfinance-0.1.54

In [9]:

import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like #datareader problem probably fixed in next version of datareader
from pandas_datareader import data as pdr
import datetime

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [10]:
import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

In [14]:
# Example1
# download dataframe
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")
# download Panel
data2 = pdr.get_data_yahoo(["SPY", "IWM"], start="2017-01-01", end="2017-04-30")

# example2
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime.now()
symbol = 'SPY'
data = pdr.get_data_yahoo(symbol, start=start, end=end)
data.to_csv("YahooSPY.csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  2 of 2 completed
[*********************100%***********************]  1 of 1 completed

In [13]:
ls

sample_data/  YahooSPY.csv

In [15]:
# Dow Jones Index + TLT:
StockList = ['AXP', 'AAPL', 'BA','CAT','CVX','CSCO','KO','DIS','XOM','GS', 'HD', 'IBM','INTC','JNJ','JPM','MCD','MRK','MSFT','NKE','PFE', 'PG', 'TRV','UTX','UNH', 'VZ','V','WMT','WBA', 'TLT']
# Dow Jones Index:
StockList = ['AXP', 'AAPL', 'BA','CAT','CVX','CSCO','KO','DIS','XOM','GS', 'HD', 'IBM','INTC','JNJ','JPM','MCD','MRK','MSFT','NKE','PFE', 'PG', 'TRV','UTX','UNH', 'VZ','V','WMT','WBA']

#21 industrial sectors+ TLT:
StockList = ["FDN","IBB","IEZ","IGV","IHE","IHF","IHI","ITA","ITB","IYJ","IYT","IYW","IYZ","KBE","KCE","KIE","PBJ","PBS","SMH","VNQ","TLT"]
#21 industrial sectors:
StockList = ["FDN","IBB","IEZ","IGV","IHE","IHF","IHI","ITA","ITB","IYJ","IYT","IYW","IYZ","KBE","KCE","KIE","PBJ","PBS","SMH","VNQ"]

#10 sectors + TLT:
StockList = ["XLB","XLE", "XLF", "XLI", "XLK", "XLP", "XLU", "XLV", "XLY", "XTR", "TLT"] 
#10 sectors:
StockList = ["XLB","XLE", "XLF", "XLI", "XLK", "XLP", "XLU", "XLV", "XLY", "XTR"] 

#Bond etfs:
stock_list = ["BIL","TIP","IEI","IEF","TLH","TLT","SHY"] 

#our ETF list + SHY:
stock_list = ["FDN","IBB","IEZ","IGV","IHE","IHF","IHI","ITA","ITB","IYJ","IYT","IYW","IYZ","KBE","KCE","KIE","PBJ","PBS","SMH","VNQ","SHY"]

In [16]:
stock_list = ["SPY", "TLT"]  #********************************************************this is good

In [18]:

stock_str = ""
for i in range(len(stock_list)):
    stock_str  = stock_str + stock_list[i] + "."

In [19]:
main_df = pd.DataFrame()

In [20]:
start_date

datetime.datetime(2009, 1, 30, 0, 0)

In [23]:
end_date = datetime.datetime.now()

In [24]:

for stock in range(len(stock_list)):
     df = pdr.get_data_yahoo(stock_list[stock], start=start_date, end=end_date)
     df.drop(['Close','High', 'Low' , 'Open', 'Volume'], axis=1, inplace=True)
     df.rename(columns={'Adj Close': stock_list[stock]}, inplace=True)
     if main_df.empty:
         main_df = df
     else:
        main_df = main_df.join(df)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [25]:
main_df

                   SPY         TLT
Date
2009-01-30   65.606117   74.425117
2009-02-02   65.408081   75.809845
2009-02-03   66.326889   74.004288
2009-02-04   66.002136   73.745323
2009-02-05   66.984314   73.810089
...                ...         ...
2020-06-24  304.089996  163.029999
2020-06-25  307.350006  163.500000
2020-06-26  300.049988  165.250000
2020-06-29  304.459991  164.729996
2020-06-30  308.359985  163.929993

[2874 rows x 2 columns]

In [27]:
main_df.to_csv(stock_str+"AP.csv")

In [28]:
ls

sample_data/  SPY.TLT.AP.csv  YahooSPY.csv

In [29]:

main_df = pd.DataFrame()

for stock in range(len(stock_list)):
     df = pdr.get_data_yahoo(stock_list[stock], start=start_date, end=end_date)
     df.drop(['Adj Close','High', 'Low' , 'Open', 'Volume'], axis=1, inplace=True)
     df.rename(columns={'Close': stock_list[stock]}, inplace=True)
     if main_df.empty:
         main_df = df
     else:
        main_df = main_df.join(df)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [30]:
main_df

                   SPY         TLT
Date
2009-01-30   82.830002  103.750000
2009-02-02   82.580002  105.389999
2009-02-03   83.739998  102.879997
2009-02-04   83.330002  102.519997
2009-02-05   84.570000  102.610001
...                ...         ...
2020-06-24  304.089996  163.029999
2020-06-25  307.350006  163.500000
2020-06-26  300.049988  165.250000
2020-06-29  304.459991  164.729996
2020-06-30  308.359985  163.929993

[2874 rows x 2 columns]

In [31]:
main_df.to_csv(stock_str+"csv")

In [32]:
ls

sample_data/  SPY.TLT.AP.csv  SPY.TLT.csv  YahooSPY.csv